.frequently-question {
  padding: 0px 0px 120px 0px;

  .section-heading p {
    margin-bottom: 80px;
  }

  .left-text {
    align-self: center !important;

    h5 {
      color: #1e1e1e;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 40px;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    span {
      color: #4a4a4a;
      display: block;
      font-size: 16px;
      margin-bottom: 50px;

      a {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 765px) {
  .frequently-question .left-text {
    margin-bottom: 60px;
  }
}

.accordions {
  background-color: #f7f7f7;
}

.accordion-head {
  border-bottom: 1px solid #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  transition: color 200ms ease-in-out;

  .icon {
    float: right;
    transition: transform 200ms ease-in-out;
  }

  &.is-open {
    border-bottom: none;
    color: #0088e8;

    .icon {
      transform: rotate(45deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .accordion-head {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

.accordion-body {
  border-bottom: 1px solid #fff;
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out;

  > .content {
    padding: 20px;
    padding-top: 0;
  }
}
