.services {
  // background: rgb(1, 98, 102);
  // background: linear-gradient(
  //   90deg,
  //   rgba(1, 98, 102, 1) 0%,
  //   rgba(0, 147, 153, 1) 50%,
  //   rgba(1, 98, 102, 1) 100%
  // );
  background-image: url("https://res.cloudinary.com/dxo232u9y/image/upload/v1665491381/background_eew4nf.png");
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 90px 0px;

  &-carousel {
    &.owl-carousel {
      .owl-nav button {
        &.owl-prev {
          left: -70px;
        }

        &.owl-next {
          right: -70px;
        }
      }

      .owl-dots {
        bottom: -50px;
      }
    }
  }
}

.service-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  cursor: pointer;
  padding: 40px 30px;
  height: 450px;

  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  background: #f8faff;
  border-radius: 8px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  border-collapse: collapse;

  text-align: center;
  transition: all 0.3s ease 0s;

  &:hover {
    .icon,
    a.main-button {
      background-color: #ffd20f;
    }
  }

  .icon {
    -moz-border-radius: 50%;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-border-radius: 50%;
    -webkit-transition: all 0.3s ease 0s;
    background: #009399;
    border-radius: 50%;
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
    margin: auto;
    position: relative;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100px;

    > i {
      img {
        left: 50%;
        max-width: 50px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .service-title {
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.7px;
    position: relative;
    z-index: 2;
  }

  p {
    color: #777;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
  }

  a.main-button {
    display: block;
  }
}

@media screen and (max-width: 920px) {
  .service-item {
    margin: 0px 30px !important;
  }
}
