a,
abbr,
acronym,
address,
applet,
article,
aside,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
dfn,
div pre,
div,
dl,
dt,
em,
figcaption,
figure,
font,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
li,
nav,
object,
ol,
p,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix {
  display: inline-block;

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #f8faff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
  margin-top: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  color: #4a4a4a;
  font-size: 15px;
  line-height: 25px;
}
